ul.menu {
    list-style-type: none;
    overflow: hidden;
    border-style: solid;
    margin: 0;
    padding: 0;
}

li.menu {
    display: inline;
    padding: 0;
    float: left;

}

li a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: lightblue;
    color: white;
    text-decoration: none;
}

li a:hover, a#active {
    background-color: #53c514;
}